:root {
  --red-orange: #ff4c29;
  --bgcolor: #082032;
  --dark-blue: #2c394b;
  --dark-blue-gray: #334756;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}
@font-face {
  font-family: Big Shoulder;
  src: url(fonts/Big_Shoulders_Text/static/BigShouldersText-Regular.ttf);
}
@font-face {
  font-family: Fjalla;
  src: url(fonts/Fjalla_One/FjallaOne-Regular.ttf);
}
@font-face {
  font-family: Bebas;
  src: url(fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}
html {
  overflow-x: hidden;
}
body {
  background-color: var(--bgcolor);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 20px;
  border-right: 1px solid var(--red-orange);
  display: grid;
  place-items: center;
  z-index: 1000;
  background-color: var(--bgcolor);
}
nav .my-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 32px;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  padding-left: 0;
  list-style: none;
}
nav ul li a {
  width: 32px;
  height: 32px;
  padding: 26px 0;
  opacity: 0.5;
  transition: opacity 1s ease;
  position: relative;
  background-color: var(--bgcolor);
}
nav ul li a::after {
  content: attr(data-title);
  background-color: var(--dark-blue);
  padding: 10px;
  width: 100px;
  border-radius: 5px;
  position: absolute;
  transform: translateY(-50%);
  margin-left: 10px;
  font-size: 1rem;
  text-align: center;
  font-family: Big Shoulder;
  opacity: 0;
  transition: all 0.7s ease;
  transform: translateX(-50%);
  z-index: -1;
}

nav ul li a:hover::after {
  opacity: 1;
  transform: translateX(0);
}
nav ul li a.active,
nav ul li a:hover {
  transition: opacity 0.5s ease;
  opacity: 1;
}
.nav-icon-fill {
  display: none;
}
nav ul li a img {
  width: 32px;
}

/* Hero Wrapper */
.hero-wrapper {
  height: 100vh;
  width: 100vw;
  padding: 0 200px 0 300px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.hero-wrapper * {
  /* outline: 1px solid white; */
}
.left-hero-panel {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 300px;
}
.left-hero-panel h1 {
  font-size: clamp(2.2rem, 2vw + 0.5rem, 3rem);
}
.left-hero-panel h1 span {
  color: var(--red-orange);
}
.left-hero-panel p {
  font-size: clamp(0.8rem, 1vw + 0.5rem, 1.2rem);
}
.left-hero-panel .social-media-container {
  display: flex;
  gap: 25px;
}
.hero-wrapper .my-bg-pic {
  width: 50%;
  object-fit: contain;
}
.bgpic-container {
  position: absolute;
  right: 5%;
  background-color: var(--red-orange);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  animation: bgpic-container 1s ease-in;
}
.bgpic-container img {
  height: 100vh;
  animation: bgpic 1.5s ease-out;
}
.moving-text {
  color: var(--red-orange);
  position: absolute;
  bottom: 5%;
  font-size: clamp(4rem, 9vw + 0.5rem, 12rem);
  font-family: Bebas;
  animation: move 15s infinite linear;
  white-space: nowrap;
}
.projects-div {
  padding: 80px 5vw;
  margin-left: 72px;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
  outline: 1px solid white;
}
.projects * {
  outline: 1px solid white;
}
/* PROJECT GENERAL STYLING */
.cbnasia-text-container h1,
.alumni-text-container h1 {
  background-color: var(--bgcolor);
  color: white;
  padding: 5px 20px;
  margin-bottom: 20px;
}
.info-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.prog-lang-year {
  display: flex;
  font-size: 1.5rem;
  font-family: Fjalla;
  gap: 20px;
}
.prog-lang {
  display: flex;
  gap: 20px;
}
.prog-lang-year .prog-lang,
.prog-lang-year .year {
  border: 1px solid var(--red-orange);
  padding: 5px 20px;
  border-radius: 25px;
}
.prog-lang-year p {
  margin-bottom: 0 !important;
}
.position {
  font-family: Bebas;
  font-size: 3rem;
  margin-left: 10px;
}
/* CBN ASIA */
.cbnasia-project {
  grid-column: span 8;
  flex-direction: column;
}
.cbnasia-project .project-container {
  background-color: var(--red-orange);
  padding: 50px;
  border-radius: 25px;
}
.cbnasia-project .cbnasia-text-container {
  width: 50%;
  padding: 50px 0 0 50px;
  font-size: 1.5rem;
}
.cbnasia-project .img-container {
  position: relative;
  display: grid;
}
.cbnasia-project .img-container .laptop {
  align-self: end;
  bottom: 0;
  width: 700px;
}
.cbnasia-project .img-container .smartphone {
  width: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
/* ALUMNI */
.alumni-project {
  grid-column: span 4;
  margin-bottom: auto;
}
.alumni-project .project-container {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue-gray);
  padding: 30px;
  gap: 50px;
}
.alumni-project img {
  width: 100%;
  object-fit: contain;
  border-radius: 25px;
}
.alumni-project .alumni-text-container {
  font-size: 1.5rem;
  text-align: end;
}
.alumni-project .info-container {
  align-items: flex-end;
}
.alumni-project .prog-lang-year {
  font-size: 1.2rem;
}
/* SAMPLE PROJECTS */
/* GENERAL STYLE */
.sample-project .img-container {
  grid-column: span 9;
  position: relative;
  overflow: hidden;
}
.sample-project-1 .position {
  text-align: end;
}
.sample-project .img-container .img-bg {
  width: 100%;
}
.sample-project .img-container .img-fluid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100% - 300px);
  min-width: 400px;
}
.sample-projects-title {
  grid-column: span 12;
}
/* SAMPLE PROJECT 1 */
.sample-project-1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
  justify-content: space-evenly;
}
.sample-project-1 .info-container {
  grid-column: span 3;
}
.sample-project-1 .prog-lang-year {
  flex-direction: column;
  font-size: 1.2rem;
}
.sample-project-1 .prog-lang-year .year {
  align-self: end;
}

/* SAMPLE PROJECT 2 */
.sample-project-2 {
  grid-column: span 7;
  display: flex;
  flex-direction: column;
}
.sample-project-2 .img-container .img-fluid {
  transform: translate(-50%, -50%) skew(10deg, 5deg);
}
/* SAMPLE PROJECT 3 */
.sample-project-3 {
  grid-column: span 5;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
.sample-project-3 .img-container {
  height: auto;
}
/* Main Footer */
footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer .footer-first-row {
  display: flex;
  gap: 1.5rem;
}
footer .footer-first-row img {
  width: 150px;
  object-fit: contain;
}
footer .footer-first-row p {
  font-size: clamp(2rem, 4vw + 0.5rem, 6rem);
  line-height: 6rem;
}
.footer-button-row .circle-button {
  background-color: var(--red-orange);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  outline: none;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  nav{
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0;
    height: auto;
    width: 100vw;
    border-top: 1px solid var(--red-orange);
    border-right: none;
    align-items: center;
  }
  nav ul{
    flex-direction: row;
    margin-bottom: 0;
  }
  nav ul li a{
    padding: 0;
  }
  nav ul li a::after{
    content: "";
  }
  .projects-div{
    margin-left: 0;
  }
  .cbnasia-project,
  .alumni-project,
  .sample-project {
    grid-column: span 12;
  }

  .sample-project .img-container {
    grid-column: span 12;
  }
}


/* ANIMATIONS */
.fade-in-left{
  opacity: 0;
  transform: translateX(-50%);
  transition: all 1s ease-in-out;
  filter: blur(10px);
}
.fade-in-left.fade-in.appear{
  opacity: 1;
  transform: translateX(0);
  filter: blur(0px);
}
.fade-in-right{
  opacity: 0;
  transform: translateX(50%);
  transition: all 1s ease-in-out;
  filter: blur(10px);
}
.fade-in-right.fade-in.appear{
  opacity: 1;
  transform: translateX(0);
  filter: blur(0px);
}


@keyframes bgpic-container {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
  }
}
@keyframes bgpic {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* BUTTON */
.ui-btn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #fac921;
  --default-btn-color: #fff;
  --font-size: 16px;
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
}

/* button settings 👆 */

.ui-btn {
  box-sizing: border-box;
  padding: var(--btn-padding);
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  border-radius: 15px;
}

.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover,
.ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span,
.ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before,
.ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";}35%{content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.main .up button img,
.main .down button img {
  width: 30px;
}
.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -0.9em;
  fill: #03a9f4;
}

.card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.github {
  margin-top: -0.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}

.discord {
  margin-top: -0.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #3d6ad6;
}

.card1:hover .facebook-button {
  background-image: url(img/icons/facebook-white.png);
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03a9f4;
}

.card2:hover .linkedin-button {
  background-image: url(img/icons/linkedin-white.png);
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github-button {
  background-image: url(img/icons/github-white.png);
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}
